.container {
  position: relative;
  margin-top: 8rem;
  padding-bottom: 8.8rem;
  /* border: 2px solid red; */
}

.title {
  font-size: 3rem;
  /* font-size: 3.6rem; */
  overflow: hidden;

}

.subhead {
  font-size: 2.2rem;
  /* font-size: 3rem; */
  margin: 1.6rem 0 0 0;
}


.hero_icons {
  margin: 3.2rem 0 0 1.2rem;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.github_container {
  position: absolute;
  top: -1rem;
  right: 14%;
}

.gmail_container {
  position: absolute;
  top: 14rem;
  /* right: 29%; */
  right: 10%;
}


.linkedin_container {
  position: absolute;
  top: 17rem;
  right: 75%;
}

@media screen and (min-width: 400px) {
  .github_container {
    right: 23%;
  }
  .gmail_container {
    right: 17%;
  }
}
@media screen and (min-width: 480px) {
  .title {
    font-size: 4.0rem;
  }

  .subhead {
    font-size: var(--h2-font-size);
  }
  
  .gmail_container {
    top: 20rem;
  }
  
  .linkedin_container {
    top: 23rem;
  }

}


@media screen and (min-width: 600px) {
  .github_container {
    right: 27%;
  }
  .gmail_container {
    top: 19rem;
    right: 19%;
  }
  .linkedin_container {
    top: 22rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 12rem;
  }

  .content_text {
    margin-left: 5%;
  }


  .hero_icons {
    margin: initial;
  }

  .github_container {
    /* right: 38%; */
    right: 45%;
  }
  
  .gmail_container {
    top: 21rem;
    right: 35%;
  }
  
  
  .linkedin_container {
    top: 24rem;
    right: 80%;
  }
}
