.bg_container {
  --bg-color: #f3f3f3;
  background: var(--bg-color);
  padding-block: 9.6rem;
  min-height: 100dvh;
}

.container {
  position: relative;
}

.container .title {
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
  margin-top: 3.2rem;
}

.grid > .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100%;
}

.grid > .card .image_container {
  position: relative; 
  /* border: 1px solid red; */
}

.grid > .card .image_container .overlay {
  position: absolute;
  top: 0;
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  z-index: 10;
  /* border: 1px solid red; */
}

.grid > .card .image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid > .card .image_container.imageDesktop {
  display: none;
}

.content .name {
  font-weight: 500;
  font-size: 2.4rem;
}

.content .subtitle {
  margin-top: .8rem;
  color: var(--subtitle-color);
}




@media screen and (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8.8rem;
    margin-top: 1.6rem;
  }

  .grid > .card {
    gap: 3.2rem;
  }

  .grid > .card .image_container.imageMobile {
    display: none;
  }
  
  .grid > .card .image_container.imageDesktop {
    display: initial;
  }

  .grid > .card:first-child .image_container,
  .grid > .card .image_container .overlay {
    margin-top: auto;
  }  
  
  .grid > .card:nth-child(4n-3) .image,
  .grid > .card:nth-child(4n) .image {
    height: 432px;
  }

}