.bg_container {
  --bg-color: #f3f3f3;
  background: var(--bg-color);
  padding-block: 8rem;
}

.container {
  position: relative;
}

.container .title {
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
  margin-top: 3.2rem;
}

.grid > .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.grid > .card .image_container {
  position: relative; 
  transition: 0.3s ease;
}

.grid > .card .image_container .overlay {
  position: absolute;
  top: 0;
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.grid > .card .image_container::before {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  z-index: 800;
  transition: 0.3s ease; */
}

.grid > .card .link {
  transition: 0.3s ease;
}

.grid > .card .image_container:hover {
  /* border: 1px dashed black; */
}

.grid > .card .image_container:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.grid > .card .image_container .image_wrapper {
  position: relative;
  transition: 0.3s ease;
}

.grid > .card .image_container .image_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  z-index: 800;
  transition: 0.3s ease;
}

.grid > .card .link:hover .image_wrapper::before {
  background: rgba(0, 0, 0, 0.6);
}

.grid > .card .link:hover {
  transform: translate(0, 15px);
  z-index: 9999;
}

.info_container {
  position: absolute;
  bottom: 25%;
  padding: 1.5rem;
  z-index: 800;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s ease-out;
}

.grid .link:hover .info_container {
  opacity: 1;
  transform: translateY(0);
}
.info {
  font-size: 2rem;
}

.ongoing {
  color: rgb(219, 219, 219);
  /* font-size: 1.4rem; */
  margin-top: .8rem;
}


.grid > .card .image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .name_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.name_row .arrow_icon {
  margin-top: 1.6rem;
  font-size: 4rem;
  border-radius: 50%;
  background: none;
  transition: 0.3s ease-out;
}

.grid > .card .link:hover .name_row .arrow_icon,
.grid > .card .link:focus .name_row .arrow_icon {
  background: var(--primary-color);
  transform: rotate(-45deg);
}

.content .name {
  margin-top: 1.6rem;
  font-weight: 500;
  /* font-size: 2.4rem; */
}

.content .subtitle {
  color: var(--subtitle-color);
}


@media screen and (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8.8rem;
    margin-top: 1.6rem;
  }

  .grid > .card {
    gap: 3.2rem;
  }

  .grid > .card .image_container.imageMobile {
    display: none;
  }
  
  .grid > .card .image_container.imageDesktop {
    display: initial;
  }

  .grid > .card:first-child {
    margin-top: auto;
  }  
  
  .grid > .card:nth-child(4n-3) .image,
  .grid > .card:nth-child(4n) .image {
    height: 432px;
  }

}
